<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- 引入属性文件 -->
    <context:property-placeholder location="classpath:config.properties"/>



    <!-- Service包(自动注入) -->
    <context:component-scan base-package="com.caiji.wx.service"/>
    <context:component-scan base-package="com.caiji.weibo.service"/>

    <bean id="wbHandler" class="com.caiji.weibo.WbHandler"/>

    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="startupDelay" value="10"/>
    </bean>

    <bean id="beanUtil" class="com.caiji.util.BeanUtil"/>

    <context:component-scan base-package="com.caiji.quartze"/>

    <import resource="classpath:spring/spring-mybatis.xml"/>

</beans>